# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
dist
build

# misc
.DS_Store
*.pem

# debug
logs
*.log
npm-debug.log*
pnpm-debug.log*

# env files
.env*
!.env.example

# editor files
.idea/

# vercel
.vercel

# typescript
*.tsbuildinfo
